// Setup
$modalWidth: 720px;
$padding: 20px;
$modalBackgroundTransparency: 0.5;
$lightGrey: #ededed;

#lbModalWrapper{
    display:none;
    &.active{
    	display:block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: rgba(0,0,0,$modalBackgroundTransparency);
	    z-index: 20;
	    top:0;
    }
}

#lbModal{
	position:relative;
	min-height:400px;
	padding:100px $padding 0;
	background:white;
	width:$modalWidth;
	z-index:21;
	margin:10px auto;
	overflow:scroll;
}

#lbModal__closeButton{
	width: 50px;
    height: 50px;
    background: black;
    position: absolute;
    right: 10px;
    top: 0;
	cursor: pointer;
    &:after{
    	color:white;
    	content:"\d7";
	    font-size: 40px;
	    line-height: 50px;
	    margin-left:13px;

    }
}

.lbModal__blogTitle{
	color: silver;
	font-size:1.1em;
	text-transform:uppercase;
}

.lbModal__postTitle{
	font-size:2.2em;
	line-height:1.2;
	margin-bottom:1em;
}

.lbModal__postImage{
	background: $lightGrey;
	max-width:100%;
}

.lbModal__postExcerpt{
    font-size: 1.6em;
    line-height: 1.6;
    margin-top: 30px;
    font-weight: normal;
    color: #636363;
    width: 500px;
    padding-bottom:$padding;
}