.toplist{

	.loading{
		position: absolute;
		padding: 10px;
		font-size: 16px;
	}

	h2{
		font-size:28px;
		padding:30px 10px 20px 10px;
		color:$brand-color;
	}
	h3.category{
		padding: 10px;
		padding-top: 0;
		font-size: 20px;
		font-weight:450;
		padding-bottom:20px;
	}
	form{
		position:absolute;
		top:30px;
		right:10px;
	}
	div.item{
		clear:both;
		padding:10px;
		padding-left:0;
		margin-left:10px;
		border-top:1px solid rgba(0,0,0, 0.1);
		overflow:auto;
		div.thumb{
			width:49px;
			height:49px;
			border: 1px solid rgba(0,0,0,0.1);
			background: rgba(0,0,0,0.1);
			overflow:hidden;
			float:left;
			margin-right:10px;
		}
		div.details{
			float:left;
			width:218px;
		}
		h3{
			font-size:14px;
			line-height:16px;
			font-weight:bold;
		}
		h4{
			margin-top:5px;
			color: $brand-color;
			opacity: 0.4;
			text-transform: uppercase;
			font-size:12px;
		}
	}

}