.topList__item{
	display:flex;
}

.topList__item + .topList__item{
	margin-top:10px;
}

.topList__thumb{
	height:100px;
	width:100px;
	margin:0 10px;
	max-width: 100px;
	max-height: 100px;
	overflow: hidden;
}

.topList__details{
	width:175px;
}