#scroller{
  width:$sidebar-width;
  overflow-y:scroll;
  overflow-x:hidden;
  max-height:100%;
}

#sidebar{

  position:fixed;
  width:$sidebar-width;
  background:$sidebar-background;
  top:0;
  bottom:0;
  left: - ( $sidebar-width);
  overflow:hide;
  z-index:3;
  border-right: 1px solid silver;
  backface-visibility: hidden;
  perspective: 1000;
  @include lbTransitions() ;
  &.open{
    left:0;
  }
  .close{
    a{
      color: #fff;
      position: absolute;
      top: 5px;
      right: 25px;
      padding-top: 1px;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      font-size: 1.6em;
      &:hover{
        border-radius:50%;
        background: rgba(0,0,0,0.5);
      }
    }
  }
  #userArea{
    padding:10px;
    width:319px;
    border-bottom:5px solid $brand-color;
    background-color:#424242;
    overflow:auto;
    .profilePicture{
      display:block;
      float:left;
      width:70px;
      img{
        max-width:70px;
        max-height:70px;
        border-radius:50%;
        border:5px solid $brand-color;
      }
    }
    @mixin userInfo{
      // applies to both signed in and non signed in user
      display:block;
      width:190px;
      float:left;
      padding:10px;

    }
    .greeting{
      @include userInfo;
      color:white;
      a{
        color: darken(white,20);
        text-decoration:none;
        font-size: 0.85em;
      }
    }
    .login{
      @include userInfo;
      a{
        margin-bottom:5px;
        width:80px;
        display: block;
        padding: 8px;
        background: $brand-color;
        color: white;
        text-decoration:none;
      }
      p{
        margin-top:10px;
        color:silver;
        font-size: 0.8em;

      }
    }
    .tools{
      ul{
        margin-top:20px;
      }
      li{
        margin:5px 0;
        i{
          margin-right: 10px;
        }
        .amount{
          background-color: #02A7A7;
          color: white;
          border-radius: 5px;
          padding: 0 5px;
          float: right;
          font-size: 12px;
        }
      }
      li+li{
        border-top: 1px solid lighten(#424242, 10);
        padding-top: 5px;
      }
    }
  }
  #channels{
    padding:10px;
    h3{
      color:white;
      margin-bottom:10px;
    }
    ul{
      font-size:0.75em;
      overflow:auto;
      width:320px;
      li.categoryButton{
        border-radius: 3px;
        margin-top:7px;
        display:block;
        background:#555;
        padding:7px;
        margin-right: 5px;
        float:left;
        color: white;
        i{
          color:#D8D8D8;
          margin-right:3px;
        }
        &:hover{
          background:#666;
        }
        &.selected{
          background:$brand-color;
        }
      }
    }
  }

  .credits{
    padding:10px 20px;
  }
}
.searchform {
  margin-bottom:20px;
  input{
    padding: 8px;
    border:0;
    border-radius:0;
  }
  input[type="text"]{
    width:190px;
    background: darken(white,10);
  }
  input[type="submit"]{
    width:60px;
    background:#929292;
  }
}
