**/cache
**/.sass-cache
/public/img/cache/*.jpg
/public/img/thumbs/*.jpg
/app/storage/**
/app/storage/cache
/bootstrap/compiled.php
/vendor
/node_modules
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
php_errors.log
public/config.codekit
lebaneseBlogsLog.log
*.swp
