.miniCard{

  .sharingbackground{
    display:none;
    &.active{
      display:block
    }
  }


  .sharingbackground{
    position:absolute;
    top:0;
    right:0;
    padding:0;
    left:0;
    font-:12px;
    height:100%;
    background:rgba(0,0,0,0.75);
    ul{
      .close{
        color:white;
        font-size:30px;
      }
      position:absolute;
      width:120px;
      height:80px;
      top:50%;
      margin-top:-60px;
      left:50%;
      margin-left:-60px;
    }
    li{
      padding-left:10px;
      font-size:12px;
      line-height:35px;
      background:$red;
      color:white;
      margin-bottom:5px;
    }
  }
}
