#firstTopPost {
  padding:$margins;
  background-color: white;
  width: calc(100% - 20px);
  margin: 15px auto;
  margin-bottom:5px;
  border-bottom:1px solid silver;
  border-top:1px solid white;

  h2{
    border-bottom:1px solid #EDEDED;
    margin-bottom:5px;
    padding-bottom:10px;
    .minibutton{
      float:right;
      font-size:11px;
      font-weight:bold;
      padding:6px 8px;
      margin-top:-3px;
      background:$red;
      color:white;
    }
  }

  .top_post{
    padding:$margins;
    padding-bottom:2px;
    overflow:auto;
    &:last-child{
      padding-bottom:$margins;
    }
    .image{
      margin-top:5px;
      float:left;
      margin-right:$margins;
      width:60px;
      height:60px;
      overflow:hidden;
    }
    .link{
      line-height:1.2;
      overflow:auto;
      max-width:260px;
      a{
        text-decoration:none;
        font-size:14px;
        font-weight:bold;
      }
      .article{
        color:#666;
      }
      .blog{
        margin-top:5px;
        color:$shade;
        font-size: 12px;
        text-transform:uppercase;
      }
    }
  }

}
