// on off
.takeover{
  transition:0.2s;
  overflow-y:scroll;
  transform: translate3d(-600px, 0, 0);
  display:none;
  &.active{
    transform:none;
  }
  &.dark{
    background:#d1d1d1;
  }
}

// share sheet ()
.takeover{
  .bigCard{
    background:white;
    border:1px solid silver;
    padding:15px;

    a{
      color:black;
    }
    .bloglink{
      float:left;
      display:block;
      overflow:auto;
      width: 100%;
    }
    h2{
      font-size:18px;
      margin:15px 0;
    }
    .blog{
      overflow:auto;
      margin-bottom:15px;
    }
    .avatar{
      margin-right:10px;
      width:30px;
      height:30px;
      border-radius:50%;
      float:left;
      border:1px solid silver;
    }
    .title{
      line-height:30px;
      display:block;
    }
    p{
      color:rgb(100,100,100);
      font-size:16px;
      padding:10px;
    }
    .featureImage{
      img{
        max-width:100%;
        border:1px solid silver;
      }
      max-height:200px;
      overflow:hidden;
    }
    .actions{
      margin-top:10px;
      li{
        padding:10px 15px;
        display:inline-block;
        border:1px solid silver;
      }
    }
  }

}


// top posts
.takeover{
  .top_post{
    padding:$margins;
    padding-bottom:2px;
    overflow:auto;
    &:last-child{
      padding-bottom:$margins;
    }
    .image{
      margin-top:5px;
      float:left;
      margin-right:$margins;
      width:60px;
      height:60px;
      overflow:hidden;
      img{
        width:60px;
        height:60px;
      }
    }
    .link{
      font-weight:bold;
      font-size:13px;
      line-height:1.3;
      margin-top:5px;
      padding-top:5px;
      border-top:1px solid #EDEDED;
      overflow:auto;
      a{
        text-decoration:none;
        font-size:14px;
      }
      .article{
        color:#555;
      }
      .blog{
        text-transform:uppercase;
        color:$shade;
        font-size: 12px;
      }
    }
  }
}

// channels
#channelPicker{
  ul a li{
    padding:10px;
    margin-bottom:1px;
    font-weight:bold;
    color:#555;
    margin-bottom:3px;
    border-bottom:1px solid #EDEDED;
  }
}

// general
.takeover{
  background:white;
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index:100;
  padding:10px;

  .closebutton{
    float:right;
    margin:5px;
    width:27px;
    height:27px;
    display:block;
    position:relative;
    border-radius:50%;
    background:black;
    div{
      color:white;
      position:absolute;
      margin-top:0px;
      font-size:23px;
      width:100%;
      text-align:center;
    }
  }

  h2{
    font-size:22px;
    font-weight:bold;
    margin:15px 0 30px 0;
  }

  .info{
    padding:10px;
  }
  p{
    margin-top:10px;
    line-height:1.4;
  }

  .action{
    text-align:center;
    .button{
        display:block;
        padding:10px 15px;
        background:#b12530;
        color:white;
        text-decoration:none;
        font-size:20px;
        margin-top:10px;
      }
  }

}
