#curtain{
  background:white;
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index:100;
  padding:10px;
  .deadcenter{
    position: absolute;
    top: 50%;
    width:100%;
    margin-top: -40px;
    text-align:center;
  }
}