/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: Border-box; }

body {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

header {
  background-color: #B12D2F;
  overflow: auto;
  height: 50px; }

#logo {
  margin-top: 5px;
  width: 75%;
  float: left;
  padding-left: 5px; }

#aboutbutton {
  width: 24%;
  float: right;
  text-align: center;
  height: 50px;
  padding-top: 15px;
  border-left: 1px solid white;
  color: white; }

.takeover {
  display: none; }
  .takeover.active {
    display: block; }

.takeover .deadcenter {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -40px;
  text-align: center; }

.takeover .top_post {
  padding: 7px;
  padding-bottom: 2px;
  overflow: auto; }
  .takeover .top_post:last-child {
    padding-bottom: 7px; }
  .takeover .top_post .image {
    margin-top: 5px;
    float: left;
    margin-right: 7px;
    width: 60px;
    height: 60px;
    overflow: hidden; }
    .takeover .top_post .image img {
      width: 60px;
      height: 60px; }
  .takeover .top_post .link {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.3;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #EDEDED;
    overflow: auto; }
    .takeover .top_post .link a {
      text-decoration: none;
      font-size: 14px; }
    .takeover .top_post .link .article {
      color: #666; }
    .takeover .top_post .link .blog {
      text-transform: uppercase;
      color: #E25154;
      font-size: 12px; }

.takeover {
  background: white;
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);
  width: 100%;
  z-index: 100;
  padding: 10px; }
  .takeover .closebutton {
    float: right;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    border-radius: 50%;
    background: black; }
    .takeover .closebutton div {
      color: white;
      position: absolute;
      margin-top: 2px;
      font-size: 23px;
      width: 100%;
      text-align: center; }
  .takeover h2 {
    font-size: 32px;
    margin: 15px 0; }
  .takeover .info {
    padding: 10px; }
  .takeover p {
    margin-top: 10px;
    line-height: 1.4; }
  .takeover .action {
    text-align: center; }
    .takeover .action .button {
      display: block;
      padding: 15px;
      background: #1f8dd6;
      color: white;
      text-decoration: none;
      font-size: 20px;
      margin-top: 20px; }

a {
  text-decoration: none; }

body {
  background-color: #d1d1d1; }

#scrolling {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

#firstTopPost {
  padding: 7px;
  background-color: white;
  width: calc(100% - 20px);
  margin: 15px auto;
  margin-bottom: 5px;
  border-bottom: 1px solid silver;
  border-top: 1px solid white; }
  #firstTopPost h2 {
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 5px;
    padding-bottom: 10px; }
    #firstTopPost h2 .minibutton {
      float: right;
      font-size: 11px;
      font-weight: bold;
      padding: 6px 8px;
      margin-top: -3px;
      background: #B12D2F;
      color: white; }
  #firstTopPost .top_post {
    padding: 7px;
    padding-bottom: 2px;
    overflow: auto; }
    #firstTopPost .top_post:last-child {
      padding-bottom: 7px; }
    #firstTopPost .top_post .image {
      margin-top: 5px;
      float: left;
      margin-right: 7px;
      width: 60px;
      height: 60px;
      overflow: hidden; }
      #firstTopPost .top_post .image img {
        width: 60px;
        height: 60px; }
    #firstTopPost .top_post .link {
      line-height: 1.1;
      overflow: auto;
      max-width: 220px; }
      #firstTopPost .top_post .link a {
        text-decoration: none;
        font-size: 14px;
        font-weight: bold; }
      #firstTopPost .top_post .link .article {
        color: #666; }
      #firstTopPost .top_post .link .blog {
        margin-top: 5px;
        color: #E25154;
        font-size: 12px;
        text-transform: uppercase; }

.miniCard {
  position: relative;
  line-height: 1.2;
  background: white;
  width: calc((100% - 30px) / 2);
  margin: 10px 0 0 10px;
  border-bottom: 1px solid silver; }
  .miniCard .header {
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.03);
    overflow: auto; }
  .miniCard .blogthumb {
    max-width: 18%;
    height: auto;
    float: left;
    margin-right: 7px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .miniCard .blogtitle {
    font-size: 14px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6); }
  .miniCard .meta {
    padding: 7px; }
  .miniCard .timestamp, .miniCard .viralityBox {
    display: inline-block; }
  .miniCard .timestamp {
    font-size: 12px;
    color: #E25154; }
  .miniCard .viralityBox {
    height: 3px;
    background: #e7e7e7;
    width: 50px;
    float: right;
    margin-top: 8px; }
  .miniCard .viralityScore {
    height: 3px; }
  .miniCard .title {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    padding: 7px; }
  .miniCard .image img {
    display: block; }

.miniCard .sharingbackground {
  display: none; }
  .miniCard .sharingbackground.active {
    display: block; }
.miniCard .sharingbackground {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  left: 0;
  font-: 12px;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); }
  .miniCard .sharingbackground ul {
    position: absolute;
    width: 120px;
    height: 80px;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -60px; }
    .miniCard .sharingbackground ul .close {
      color: white;
      font-size: 30px; }
  .miniCard .sharingbackground li {
    padding-left: 10px;
    font-size: 12px;
    line-height: 35px;
    background: #B12D2F;
    color: white;
    margin-bottom: 5px; }
