#channelPicker{

  img.lazy{
    background-color: #ededed;
  }

  border-bottom:1px solid silver;
  z-index:27;
  padding:2px 0;
  position:fixed;
  top:$header-height;
  background:white;
  width:100%;

  #channelSelector{
    @media all and (min-width:650px){

    }
    -webkit-appearance: none;
      -moz-appearance: none;
      -appearance: none;
      margin: 4px 0;
      padding: 7px;
      cursor: pointer;
      outline: none;
      color: $brand-color;
      font-weight:bold;
      border-radius:0;
  }
  .error_message {
      margin-right: 10px;
      color: $brand-color;
  }
  .user{
      margin-right:10px;
      display:flex;
      justify-content:space-between;
      align-items:center;
  }

  .top_posts__button {
      border-right: 1px solid #e2e0e0;
      padding: 10px 5px;
    }

}
