.news{
  background-color:#efe6c8;
}

.news__headline{
  font-size: 25px;
  font-weight: bold;
  padding: 25px 10px;
  text-transform: uppercase;
}

.news__item{
  border-top:1px solid silver;
  display:flex;
  font-size:13px;
  height:65px;
  line-height: 1.2;
  padding:7px 0;
  align-items: center;

  .viralityWrapper{
    margin-left:5px;
    width: 70px;
  }
  .viralityBox{
    background:none;
    border:1px solid silver;
    margin-left:5px;
  }
}

.news__list{
  padding:0 10px;
}

.news__link{
  &:hover{
    text-decoration:underline;
  }
}