.post__rating{
padding-top:10px;
padding-left:10px;

  li {
    display:inline-block;
    vertical-align: middle;
  }
}

.star {
  margin-top:4px;
  width:16px;
  height:16px;
  display:block;
  background-size:13px 13px;
  float:left;
}

.star img{
  width:16px;
  height:16px;
  &.lazy{
    background-color: silver; 
  }
}

.rating__label{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}