#topBar{

// General rules
  height: $header-height;
  position:fixed;
  top:0;
  z-index:5;
  width:100%;
  background:$header-background;
  color: white;
  i{
    padding: ($header-height - 25px)/2;
    font-size: 25px;
  }

  #logo{
    height: $header-height;
    img.lazy{
      background-color: lighten($brand-color, 5);
    }
    line-height:$header-height;
    }

  #aboutlb{
    margin-left:30px;
    height:$header-height;
    @media all and (max-width:$mobile-break-point){
      display:none;
    } 
  }

  p{
    font-size: 18px;
    color: #F3DEE0;
    strong{
      font-weight: bold;
      color:white;
    }
  }

  #tailWrap{
    display: flex;
    width: 505px;
    justify-content: space-between;
  }

  #about{
    font-size: 14px;
    cursor: pointer;
    z-index: 5;
    padding: 10px;
    border: 1px solid #e68990;
    &:hover{
      background:white;
      color:$brand-color;
      border: 1px solid $brand-color;
    }
  }

  #about.open{
    background:white;
    color:$brand-color;
    border: 1px solid $brand-color;
  }
}

#aboutMenu{
  display:none;
  z-index: 40;
  width: 300px - $header-height;
  position:fixed;
  @include lbTransitions();
  right: 10px;
  ul{
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid white;
    border-right: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
  }
  li {
    //height: ($header-height * 3 ) / 4;
    a {
      display:block;
      background:white;
      padding:10px;
      font-size:14px;
      color: #505050;
      text-decoration: none;
      &:hover{
        background:#ededed;
      }
    }
  }
  li + li{
    border-top:1px solid #ededed;
  }
  @media screen and (max-width: 360px){
    width:100%;
    right:0;
  }
}

#aboutMenu.open{
  top: 58px;
  display:block;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    margin-left: 205px;
}

#content{
  padding-top:$header-height + 60;
  background: $content-background;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  @media all and (max-width: $mobile-break-point){
      padding-top:125px;
  }
}