@import "components/variables";

* { 
    box-sizing: Border-box ;
}

p{
	color: $main-color;
}

body{
	background: #ededed;
	margin:0;
}

#posts{
	margin-top:100px;
}

.card{
	background:white;
	width:300px;
	margin-bottom:10px;
}