$breathing-room: 20px;

#top_posts{
	display:flex;
	padding:$breathing-room;
	img{
		background:silver;
	}
	ul{
		display:flex;
		justify-content: space-between;
		flex-direction:column;
		height:$card-height - ($breathing-room * 2);
	}
	li {
		padding-left:10px;
	}
	@media all and (max-width: $mobile-break-point){
		transition: 0.2s;
		&.closed{
			height:85px;
		}
		padding:10px;
		border:none;
		margin-top:0;
		margin-bottom:10px;
		li{
			padding-left:0;
		}
	}
}

.top_posts__about{
	font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    padding-left: 0;
    color:#868686;
}

.top_posts__thumb{
	height:60px;
	width:60px;
	overflow:hidden;
	margin-right:10px;
	border:1px solid #ededed;
}

.top_posts__content{
}

.top_posts__details{
	width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_posts__title{
	font-size: 15px;
    font-weight: bold;
    line-height: 1.3;
    color: #222;
    @media all and (max-width: $mobile-break-point){
        font-size:12px;
    }
}

.top_posts__left{
	width:30%;
	display: flex;
	padding-right:$breathing-room / 2;
    flex-direction: column;
    justify-content: space-between;
    @media all and (max-width: $mobile-break-point){
    	display:none;
    }
}

.top_posts__blog{
	padding:0;
	text-transform:uppercase;
	color:lighten($brand-color, 30);
}

.top_posts__item{
	display:flex;
	height: 60px;
    overflow: hidden;
}

.top_posts__right{
	width: calc(70% - 1px);
	border-left: 1px dashed silver;
	@media all and (max-width: $mobile-break-point){
		border:none;
		width:100%;
	}
}

.top_posts__header{
	font-size:28px;
	font-weight:bold;
	color:$brand-color;
	padding:30px 0;
	@media all and (max-width: $mobile-break-point){
		font-size:20px;
		font-weight:normal;
	}
}

.top_posts__header--mobile{
	padding:6px 15px;
	width:100%;
	background:white;
	color: #333;
	overflow:auto;
}

.top_posts__showMore{
	color: white;
	background:darken($brand-color, 10);
    font-size: 12px;
    padding: 4px;
    float:right;
	&:before{
		content:"Show Less";
	}
	&.closed{
		background:$brand-color;
		&:before{
		content:"Show More";
		}
	}
}

